@CHARSET "UTF-8";
.editorblog {  }
.settag {    margin: 20px;}
.settag .blogtags {    padding-left: 20px;}
.settag .blogtags span{    display: inline-block;}
.settag .form-inline {margin: 10px 8px;}
.settag input#submit {    margin: 37px 27px;}
.tijiao {text-align: center;}